:root {
    --cinza_nunes: #f4f4f4;
    --cinza_texto: #555;
    --azul: #005aa7;
    --laranja: #f58220;
    --branco: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cinza_nunes);
    color: var(--cinza_texto);
}

header {
    background: linear-gradient(90deg, var(--azul), var(--laranja));
    color: var(--branco);
    text-align: center;
    /* centralizado */
    padding: 40px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 7px;
}

header p {
    font-size: 1.1rem;
    margin-top: 10px;
}